@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Ubuntu";
  font-display: swap;
  src: url("../fonts/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #222222;
  scroll-behavior: smooth;
  z-index: 1;
  background: #ffffff;
}

body.show {
  overflow: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.content-title {
  font-size: 48px;
  line-height: 118.75%;
  font-weight: 700;
  text-align: center;
}

.content__header {
  padding: 61px 0;
  background: #ffc200;
}

.content__header-title {
  color: #ffffff;
  font-size: 48px;
  line-height: 120.83333%;
  font-weight: 700;
  text-align: center;
}

.content__button-wrapper {
  background: #ffffff;
  padding: 33px 0 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__button-icon {
  position: absolute;
  cursor: pointer;
  z-index: 0;
}

.content__button {
  display: inline-block;
  padding-left: 40px;
  font-size: 18px;
  line-height: 122.22222%;
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
}

.button {
  background: #ffc200;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 118.75%;
  font-weight: 600;
  padding: 15px 60px;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  max-width: 197px;
  display: inline-block;
  cursor: pointer;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #222222;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
          animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes preloader-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.header {
  padding: 20px 0;
  position: relative;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-link {
  grid-area: logo;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header__nav-item-link {
  color: #222222;
  font-size: 14px;
  line-height: 121.42857%;
  font-weight: 400;
}

.header__search {
  grid-area: serch;
  border: 1px solid rgba(34, 34, 34, 0.2);
  height: 50px;
  max-width: 280px;
  width: 100%;
  position: relative;
}

.header__search-input {
  height: 100%;
  width: 100%;
  padding: 10px 45px 10px 15px;
}

.header__search-input::-webkit-input-placeholder {
  color: #d3d3d3;
}

.header__search-input::-moz-placeholder {
  color: #d3d3d3;
}

.header__search-input:-ms-input-placeholder {
  color: #d3d3d3;
}

.header__search-input::-ms-input-placeholder {
  color: #d3d3d3;
}

.header__search-input::placeholder {
  color: #d3d3d3;
}

.header__search-input:focus::-webkit-input-placeholder, .header__search-input:active::-webkit-input-placeholder {
  color: #222222;
}

.header__search-input:focus::-moz-placeholder, .header__search-input:active::-moz-placeholder {
  color: #222222;
}

.header__search-input:focus:-ms-input-placeholder, .header__search-input:active:-ms-input-placeholder {
  color: #222222;
}

.header__search-input:focus::-ms-input-placeholder, .header__search-input:active::-ms-input-placeholder {
  color: #222222;
}

.header__search-input:focus::placeholder,
.header__search-input:active::placeholder {
  color: #222222;
}

.header__search-input:focus .header__search-icon-color,
.header__search-input:active .header__search-icon-color {
  fill: #222222;
}

.header__search-wrapper {
  width: 48px;
  height: 48px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 10;
}

.header__search-icon-color {
  fill: #d3d3d3;
}

.header__burger {
  grid-area: burger;
  display: none;
}

.preview__slider {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.preview__stores-button {
  margin: 0 auto;
  max-width: 261px;
  width: 100%;
  display: inherit;
}

.preview__slider .swiper-button-prev {
  left: 201px;
}

.preview__slider .swiper-button-next {
  right: 201px;
}

.preview__slider .swiper-button-next::after,
.preview__slider .swiper-button-prev::after {
  color: #ffffff;
  font-size: 15px;
}

.preview__stores {
  background: #fbfbfb;
  padding: 60px 0 120px;
}

.preview__stores-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 23px 30px;
  margin: 80px 0 60px;
}

.preview__stores-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 210px;
  width: 100%;
  height: 127px;
  cursor: pointer;
}

.store {
  padding: 0 0 120px;
}

.store__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.store__company {
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 300px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store__coupons {
  max-width: 840px;
  width: 100%;
}

.coupon {
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 25px 20px;
  width: 100%;
}

.coupon:not(:last-child) {
  margin-bottom: 30px;
}

.coupon__header {
  color: #8fb65b;
  text-align: right;
  font-size: 18px;
  line-height: 122.22222%;
  font-weight: 600;
}

.coupon__content {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.coupon__shorts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 320px;
  width: 100%;
}

.coupon__shorts-text {
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 700;
}

.coupon__about {
  width: 100%;
}

.coupon__title {
  font-size: 18px;
  line-height: 122.22222%;
  font-weight: 600;
  margin-bottom: 25px;
}

.coupon__description {
  color: #d5d5d5;
  margin-bottom: 25px;
}

.coupon__text-strong {
  font-weight: 700;
}

.coupon__description-title {
  font-weight: 700;
  display: block;
}

.coupon__details-btn {
  font-size: 16px;
  line-height: 118.75%;
  font-weight: 400;
  cursor: pointer;
}

.coupon__footer-body {
  margin-top: 29px;
  padding-top: 29px;
  border-top: 1px solid #ababab;
  display: none;
}

.coupon__footer-body.show {
  display: block;
}

.coupon__footer-title {
  font-size: 16px;
  line-height: 118.75%;
  font-weight: 700;
}

.coupon__footer-list {
  margin-top: 19px;
}

.coupon__footer-list-item {
  font-size: 16px;
  line-height: 118.75%;
  font-weight: 400;
  margin-bottom: 19px;
}

.coupon__footer-list-item_strong {
  font-weight: 700;
}

.coupon-item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 120px;
}

.coupon-item__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coupon-item__image {
  margin-bottom: 30px;
}

.coupon-item__description {
  color: #222222;
}

.coupon-item .coupon__description {
  color: #222222;
}

.coupon-item__footer-title,
.coupon-item__footer-list {
  color: #d5d5d5;
}

.coupon-item__about {
  max-width: 460px;
}

.stores__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

.stores__item {
  max-width: 270px;
  height: 286px;
  width: 100%;
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0 20px 60px;
}

.stores__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.stores__button {
  width: 100%;
  max-height: 49px;
  height: 100%;
  background: #ffc200;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 118.75%;
  font-weight: 600;
  cursor: pointer;
}

.stores__empty-search {
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 700;
  margin: 100px 0;
}

.stores-preloader {
  padding: 30px 0;
}

.stores-preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

.stores-preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #222222;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
          animation: preloader-bounce 2s infinite ease-in-out;
}

.stores-preloader__item:last-child {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.about__text {
  font-size: 16px;
  line-height: 118.75%;
  font-weight: 400;
  margin-bottom: 20px;
}

.about__text-strong {
  font-size: 16px;
  line-height: 118.75%;
  font-weight: 700;
  margin-bottom: 20px;
}

.about__list {
  margin-bottom: 20px;
}

.about__item {
  position: relative;
  padding-left: 25px;
}

.about__item::after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #222222;
  border-radius: 50%;
}

@media screen and (max-width: 1600px) {
  .preview__slider .swiper-button-prev {
    left: 15px;
  }

  .preview__slider .swiper-button-next {
    right: 15px;
  }
}

@media (max-width: 992px) {
  .header__nav-wrapper {
    position: absolute;
    background: #ffffff;
    height: 110vh;
    width: 100%;
    left: -100%;
    top: 0;
    z-index: 20;
  }

  .header__nav-wrapper.show {
    left: 0;
  }

  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .burger {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 100;
    background: transparent;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .burger span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #222222;
  }

  .burger span:first-child {
    top: 5px;
    left: 0;
  }

  .burger span:nth-child(2) {
    left: 0;
  }

  .burger span:last-child {
    top: auto;
    bottom: 5px;
    left: 0;
  }

  .burger.show span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger.show span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .burger.show span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media screen and (max-width: 768px) {
  .preview__stores-body {
    margin: 60px 0 40px;
  }

  .stores__body {
    margin: 0 -15px;
  }

  .stores__item {
    margin: 0 15px 40px;
  }
}

@media (max-width: 767.98px) {
  .container {
    padding: 0 10px;
  }
}

@media screen and (max-width: 576px) {
  .content-title {
    font-size: 30px;
    line-height: 120%;
    font-weight: 700;
  }

  .header__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 44px;
    grid-template-columns: 1fr 44px;
    -ms-grid-rows: 1fr 20px 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 20px;
        grid-template-areas: 'logo burger' 'serch serch';
  }

  .header__logo-link {
    max-width: 155px;
  }

  .header__search {
    max-width: initial;
  }

  .preview__stores-body {
    margin: 40px 0 30px;
  }

  .stores__body {
    margin: 0;
  }

  .stores__item {
    margin: 0 20px 20px;
  }

  .header__logo-link {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .header__search {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .header__burger {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}