*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $black;
  scroll-behavior: smooth;
  z-index: 1;
  background: $white;

  &.show {
    overflow: hidden;
  }
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1280;
$md1: $maxWidthContainer + 15;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

.container {
  max-width: $maxWidthContainer + px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;

  @media (max-width: $md3+px) {
    padding: 0 10px;
  }

  // @media (max-width: $md1+px) {
  //   max-width: 992px;
  // }

  // @media (max-width: $md2+px) {
  //   max-width: 768px;
  // }

  // @media (max-width: $md3+px) {
  //   max-width: 768px;
  //   padding: 0 10px;
  // }

  // @media (max-width: $md4+px) {
  //   max-width: 410px;
  // }
}

.content-title {
  @include fonts(48px, 57px, 700);
  text-align: center;

  @media screen and (max-width: 576px) {
    @include fonts(30px, 36px, 700);
  }
}
.content {
  &__header {
    padding: 61px 0;
    background: #ffc200;
  }

  &__header-title {
    color: $white;
    @include fonts(48px, 58px, 700);
    text-align: center;
  }

  &__button-wrapper {
    background: $white;
    padding: 33px 0 43px;
    display: flex;
    align-items: center;
  }

  &__button-icon {
    position: absolute;
    cursor: pointer;
    z-index: 0;
  }

  &__button {
    display: inline-block;
    padding-left: 40px;
    @include fonts(18px, 22px, 600);
    cursor: pointer;
    z-index: 1;
  }
}

.button {
  background: #ffc200;
  text-transform: uppercase;
  @include fonts(16px, 19px, 600);
  padding: 15px 45px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ffc200;
  color: $white;
  max-width: 197px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover,
  &:focus {
    background: $white;
    color: $black;
  }
}
