.preview {
  &__slider {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  &__stores-button {
    margin: 0 auto;
    max-width: 261px;
    width: 100%;
    display: inherit;
  }
}

.preview__slider .swiper-button-prev {
  left: 201px;

  @media screen and (max-width: 1600px) {
    left: 15px;
  }
}
.preview__slider .swiper-button-next {
  right: 201px;

  @media screen and (max-width: 1600px) {
    right: 15px;
  }
}

.preview__slider .swiper-button-next::after,
.preview__slider .swiper-button-prev::after {
  color: $white;
  font-size: 15px;
}

// Coupons

.preview {
  &__coupons {
    padding: 120px 0;
    background: $white;

    @media screen and (max-width: 576px) {
      padding: 80px 0 20px;
    }
  }

  &__coupons-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px 40px;
    margin: 80px 0 60px;
  }

  &__coupons-item {
    background: $white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 270px;
    width: 100%;
    text-align: center;
  }

  &__coupons-item-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
  }

  &__coupons-item-title {
    color: $black;
    @include fonts(18px, 22px, 600);
    margin-bottom: 30px;
  }

  &__coupons-item-button {
    color: $white;
    background: #ffc200;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    @include fonts(16px, 19px, 600);
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid #ffc200;
    transition: all 0.3s ease 0s;

    &:hover,
    &:focus {
      background: $white;
      color: $black;
    }
  }

  &__coupons-item-date {
    color: #ff0000;
    @include fonts(14px, 19px, 400);
  }
}

// Stores

.preview {
  &__stores {
    background: #fbfbfb;
    padding: 60px 0 120px;

    @media screen and (max-width: 576px) {
      padding: 60px 0;
    }
  }

  &__stores-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 23px 30px;
    margin: 80px 0 60px;

    @media screen and (max-width: 768px) {
      margin: 60px 0 40px;
    }

    @media screen and (max-width: 576px) {
      margin: 40px 0 30px;
    }
  }

  &__stores-item {
    background: $white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 210px;
    width: 100%;
    height: 127px;
    cursor: pointer;
  }
}
